*{
    margin:0;
    box-sizing: border-box;
}


.header {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.main-heading {
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: 800;
    padding: 35px;
}


.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    margin-top:50px;
    margin-bottom: 0px;
}

/* Progress Line Styling */
.progress-line {
    height: 3px;
    width: 400px;
}

.line-default {
    background-color: #bfb8b8; /* Default color */
}

.line-completed {
    background-color: green; /* Completed line color */
}



.description{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

/* Individual Step Styling */
.step {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-color{
    background-color: grey;
    border: 2px solid black;
    color:black;
}



.step-current{
    background-color:blue;
    color: azure;
}

.success-step{
  background-color: green;
  color: white;
}

.contact-details{
   transform: translateX(-60px);
}

.shipping-address{
    transform: translateX(-60px);
}

.payment{
    transform: translateX(-20px);
}
.delivered{
    transform: translateX(50px);
}

.summary{
   padding: 20px;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.sumarize{
    text-align: center;
    padding: 30px;
}

button {
    padding: 10px;
    background-color: #bfb8b8;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    margin: 20px;
}

/* Style for the disabled button */
.disabled {
    color: grey;
    cursor: not-allowed;
}

/* Style for the active button */
.active {
    color: black;
    background-color: #f0f0f0;
}

/* Finish button */
.finish {
    color: grey;
    background-color: #ddd;
}